{{> head }}
<body>
    <h1>About {{nombre}}</h1>
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>QUE SUCEDE BECERRO</h1>
        </div>
        <div class="col-8">
            <img src="./assets/image/react.png" alt="img-thubnail">
        </div>
    </div>
{{> footer }}